index.haml
%html
	%head
		%title Our Awesome Haml Template
		%script{:type => "text/javascript",
				:src  => "javascripts/script_#{2 + 7}"}
	%body 
		%h1 Abstracting HTML since 2006
		%p Test Haml
		%ul 
			%li test
			%li test2
		#content
			%h1 test 3
	
	%p Heure compilation : #{Time.now}
	#test.rouge test rouge

dist/index.html
<html>
  <head>
    <title>Our Awesome Haml Template</title>
    <script src='javascripts/script_9' type='text/javascript'></script>
  </head>
  <body>
    <h1>Abstracting HTML since 2006</h1>
    <p>Test Haml</p>
    <ul>
      <li>test</li>
      <li>test2</li>
    </ul>
    <div id='content'>
      <h1>test 3</h1>
    </div>
  </body>
  <p>Heure compilation : 2014-01-03 17:32:31 +0100</p>
  <div class='rouge' id='test'>test rouge</div>
</html>
